<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   Montserrat.plist
   Menuely

   Created by Benjamin Mecanović on 10.07.2021..
   Copyright (c) 2021 ___ORGANIZATIONNAME___. All rights reserved.
-->
<plist version="1.0">
    <dict>
        <key>largeTitle</key>
        <dict>
            <key>name</key>
            <string>Montserrat-Regular</string>
            <key>size</key>
            <integer>34</integer>
        </dict>
        <key>title</key>
        <dict>
            <key>name</key>
            <string>Montserrat-Regular</string>
            <key>size</key>
            <integer>28</integer>
        </dict>
        <key>title2</key>
        <dict>
            <key>name</key>
            <string>Montserrat-Regular</string>
            <key>size</key>
            <integer>22</integer>
        </dict>
        <key>title3</key>
        <dict>
            <key>name</key>
            <string>Montserrat-Regular</string>
            <key>size</key>
            <integer>20</integer>
        </dict>
        <key>headline</key>
        <dict>
            <key>name</key>
            <string>Montserrat-Bold</string>
            <key>size</key>
            <integer>17</integer>
        </dict>
        <key>subheadline</key>
        <dict>
            <key>name</key>
            <string>Montserrat-SemiBold</string>
            <key>size</key>
            <integer>15</integer>
        </dict>
        <key>body</key>
        <dict>
            <key>name</key>
            <string>Montserrat-Medium</string>
            <key>size</key>
            <integer>17</integer>
        </dict>
        <key>callout</key>
        <dict>
            <key>name</key>
            <string>Montserrat-Regular</string>
            <key>size</key>
            <integer>16</integer>
        </dict>
        <key>footnote</key>
        <dict>
            <key>name</key>
            <string>Montserrat-Light</string>
            <key>size</key>
            <integer>13</integer>
        </dict>
        <key>caption</key>
        <dict>
            <key>name</key>
            <string>Montserrat-Light</string>
            <key>size</key>
            <integer>12</integer>
        </dict>
        <key>caption2</key>
        <dict>
            <key>name</key>
            <string>Montserrat-Light</string>
            <key>size</key>
            <integer>11</integer>
        </dict>
    </dict>
</plist>
